#todo-panel {
    border: solid #cfcfcf;
    margin: 1em;
    text-align: center;
}

.todo-label {
    color: #444;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

#todo-list {
    margin: 1em auto;
    text-align: left;
    width: 450px;
    list-style: none;
    padding: 0;
}

.todo-item-done .todo-item-description {
    color: #666;
    text-decoration: line-through;
}

.todo-item-edit-panel, .todo-item-view-panel .editing { display: none; }

.todo-item-edit-panel .editing { display: block; }

.todo-item-edit-textbox {
    display: block;
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    line-height: normal;
    margin: 5px auto 0;
    padding: 6px;
    width: 420px;
}

.todo-item-separator { // Correct name?
    border-bottom: 1px dotted #cfcfcf;
    font-size: 20px;
    padding: 6px;
    position: relative;
}

.todo-item-remove-button {
    position: absolute;
    right: 0;
    top: 12px;
}

.todo-item-remove-icon {
    /*
    Delete icon courtesy of The Noun Project:
    http://thenounproject.com/noun/delete/
    */
    background: url(images/remove.png) no-repeat;
    display: block;
    height: 16px;
    opacity: 0.6;
    visibility: hidden;
    width: 23px;
}

.todo-item-remove-button:hover .todo-item-remove-icon { opacity: 1.0; }

.todo-hover .todo-item-remove-icon, // What is todo-hover?
.todo-item-remove-button:focus .todo-item-remove-icon { visibility: visible; }

.todo-item-remove-icon .editing { visibility: hidden; }