<!DOCTYPE html>
<html lang="en" ng-app="todoApplication">
    <head>
        <title>To Do Items</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="css/application.css">
        <link rel="stylesheet" href="css/bootstrap.css">
        <script src="lib/angular/angular.js"></script>
        <script src="lib/angular/angular-resource.js"></script>
        <script src="javascript/controllers.js"></script>
        <script src="javascript/services.js"></script>
        <script src="javascript/application.js"></script>
    </head>
    <body ng-controller="ToDoController">
        <div id="todo-panel">
            <label class="todo-label" for="add-todo">{{'Reza'}}'s To Do List</label>
            <input type="text" id="add-todo" class="add-todo-item-textbox"
                   placeholder="Buy milk" ng-keypress="addTodoItem($event)" 
                   autofocus>
            <ul id="todo-list">
                <li ng-repeat="item in items" 
                    ng-mouseover="activateItemEdit($event)" 
                    ng-mouseleave="deactivateItemEdit($event)">
                    <div class="todo-item-view-panel">
                        <input type="checkbox" class="todo-item-checkbox" 
                               ng-model="item.completed">
                        <span class="todo-item-description">{{item.description}}</span>
                    </div>
                    <div class="todo-item-edit-panel">
                        <input type="text" class="todo-item-edit-textbox"
                               value="{{item.description}}">
                    </div>
                    <a href="#" class="todo-item-remove-button"
                       title="Remove this item" 
                       ng-click="removeToDoItem(item.id)">
                        <span class="todo-item-remove-icon"></span>
                    </a>
                </li>
            </ul>
        </div>
    </body>
</html>